<!DOCTYPE html>

<html>
  {% include 'header.html' without context %}

  <title>MRL Patient Dashboard</title>
  <body>
    
    {% include 'icon-bar.html' without context %}

    <br>
      <img style="width: 901px; height: 354px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/data.jpg')}}" hspace="10" vspace="10">
      <img style="width: 1136px; height: 475px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/TotalMRLPatientsTreated.jpg')}}" hspace="10" vspace="10">
    <br>
      <img style="width: 570px; height: 457px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/TxSiteBreakdown.jpg')}}" hspace="10" vspace="10">
      <img style="width: 569px; height: 457px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/TxSiteBreakdownOX4.jpg')}}" hspace="10" vspace="10">
      <img style="width: 569px; height: 457px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/TxSiteBreakdownSW5.jpg')}}" hspace="10" vspace="10">
    <br>
      <img style="width: 873px; height: 230px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/SimToTreatAll.jpg')}}" hspace="10" vspace="10">
      <img style="width: 872px; height: 229px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/SimToTreat90Days.jpg')}}" hspace="10" vspace="10">
    <br>
      <img style="width: 1756px; height: 464px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/PatientsStartingEachMonth.jpg')}}" hspace="10" vspace="10">
    <br>
      <img style="width: 1756px; height: 464px;" alt="" src="{{url_for('static', filename='images/MRL_patient_dashboard/TxSiteBreakdownMonthly.jpg')}}" hspace="10" vspace="10">
    <br>
</body>
</html>
